[".vim/autoload/plug.vim"]
    type = "file"
    # renovate: datasource=github-tags depName=junegunn/vim-plug
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/0.14.0/plug.vim"
    refreshPeriod = "168h"

["bin/restic"]
    type = "file"
    # renovate: datasource=github-releases depName=restic/restic
    url = "https://github.com/restic/restic/releases/download/v0.18.1/restic_0.18.1_linux_amd64.bz2"
    executable = true
    refreshPeriod = "168h"
    filter.command = "bzip2"
    filter.args = ["-d"]

["bin/resticprofile"]
    type = "archive-file"
    # renovate: datasource=github-releases depName=creativeprojects/resticprofile
    url = "https://github.com/creativeprojects/resticprofile/releases/download/v0.32.0/resticprofile_0.32.0_linux_amd64.tar.gz"
    path = "resticprofile"
    executable = true
    refreshPeriod = "168h"

["bin/flux"]
    type = "archive-file"
    # renovate: datasource=github-releases depName=fluxcd/flux2
    url = "https://github.com/fluxcd/flux2/releases/download/v2.7.5/flux_2.7.5_linux_amd64.tar.gz"
    path = "flux"
    executable = true
    refreshPeriod = "168h"

["bin/kubectl"]
    type = "file"
    # renovate: datasource=github-releases depName=kubernetes/kubernetes
    url = "https://dl.k8s.io/release/v1.35.0/bin/linux/amd64/kubectl"
    executable = true
    refreshPeriod = "168h"

["bin/kubeseal"]
    type = "archive-file"
    # renovate: datasource=github-releases depName=bitnami-labs/sealed-secrets
    url = "https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.34.0/kubeseal-0.34.0-linux-amd64.tar.gz"
    path = "kubeseal"
    executable = true
    refreshPeriod = "168h"

["bin/kustomize"]
    type = "archive-file"
    # renovate: datasource=github-releases depName=kubernetes-sigs/kustomize extractVersion=^kustomize/(?<version>.*)$
    url = "https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize/v5.8.0/kustomize_v5.8.0_linux_amd64.tar.gz"
    path = "kustomize"
    executable = true
    refreshPeriod = "168h"

