[".vim/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    refreshPeriod = "168h"

["bin/restic"]
    type = "file"
    # renovate: datasource=github-releases depName=restic/restic
    url = "https://github.com/restic/restic/releases/download/v0.18.1/restic_0.18.1_linux_amd64.bz2"
    executable = true
    refreshPeriod = "168h"

["bin/resticprofile"]
    type = "archive-file"
    # renovate: datasource=github-releases depName=creativeprojects/resticprofile
    url = "https://github.com/creativeprojects/resticprofile/releases/download/v0.32.0/resticprofile_0.32.0_linux_amd64.tar.gz"
    path = "resticprofile"
    executable = true
    refreshPeriod = "168h"

