{
    "layer": "top",
    "position": "bottom",
    "height": 24,
    "spacing": 0,
    "reload_style_on_change": true,
    "modules-left": [
        "hyprland/workspaces",
        "custom/arrow-l1"
    ],
    "hyprland/workspaces": {
        "all-outputs": false
    },
    "modules-center": [
        "custom/arrow-c1",
        "clock#eu",
        "clock#home",
        "custom/arrow-c2",
        "custom/weather",
        "custom/nws-alerts",
        "custom/arrow-c3"
    ],
    "modules-right": [
{{- if eq .chezmoi.hostname "zorro" }}
        "custom/arrow-r1-bat",
        "battery",
        "custom/arrow-r2",
{{- else if eq .chezmoi.hostname "amdbox" }}
        "custom/arrow-r1-bat",
        "custom/headphones-battery",
        "custom/arrow-r2",
{{- else }}
        "custom/arrow-r1-nobat",
{{- end }}
        "custom/uname",
        "custom/arrow-r3",
        "memory",
        "custom/arrow-r4",
        "cpu",
        "custom/arrow-r5",
        "temperature",
        "temperature#gpu",
        "custom/arrow-r6",
        "disk",
        "custom/arrow-r7",
        "pulseaudio",
        "custom/arrow-r8",
        "tray"
    ],
    "custom/weather": {
        "exec": "~/bin/weather",
        "return-type": "json",
        "format": "{}",
        "interval": 900
    },
    "custom/nws-alerts": {
        "exec": "~/bin/nws-alerts",
        "return-type": "json",
        "format": "{}",
        "interval": 900
    },
    "custom/headphones-battery": {
        "exec": "~/bin/headphones-battery",
        "return-type": "json",
        "format": "{}",
        "interval": 60
    },
    "custom/uname": {
        "exec": "uname -r | sed 's/\\.fc.*//'",
        "format": "\uf17c {}",
        "interval": 3600
    },
    "custom/egauge": {
        "exec": "~/bin/egauge",
        "format": "{}",
        "interval": 300
    },
    "custom/amdups": {
        "exec": "~/bin/ups_wattage",
        "format": "\uf0e7 {}W"
    },
    "custom/firewallups": {
        "exec": "~/bin/ups_wattage_firewall",
        "format": "\uf0e7 {}W"
    },
    "memory": {
        "interval": 30,
        "format": "\uf2db {used:0.1f}G"
    },
    "cpu": {
        "interval": 10,
        "format": "\uf2db {avg_frequency:0.2f}GHz",
        "max-length": 10
    },
    "temperature": {
        "thermal-zone": 0,
{{- if eq .chezmoi.hostname "zorro" }}
        "hwmon-path": "/sys/class/hwmon/hwmon8/temp1_input",
{{- else if eq .chezmoi.hostname "amdbox" }}
        "hwmon-path": "/sys/class/hwmon/hwmon3/temp1_input",
{{- end }}
        "critical-threshold": 80,
        "format": "\uf2c9 {temperatureC}\u00b0C",
        "interval": 5
    },
    "temperature#gpu": {
{{- if eq .chezmoi.hostname "zorro" }}
        "hwmon-path": "/sys/class/hwmon/hwmon7/temp1_input",
{{- else if eq .chezmoi.hostname "amdbox" }}
        "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
{{- end }}
        "critical-threshold": 90,
        "format": "\uf26c {temperatureC}\u00b0C",
        "interval": 5
    },
    "disk": {
        "interval": 30,
        "format": "\uf0a0 {free}",
        "path": "/"
    },
    "keyboard-state": {
        "numlock": true,
        "capslock": false,
        "format": "{name} {icon}",
        "format-icons": {
            "locked": "\uf023",
            "unlocked": "\uf09c"
        }
    },
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% {icon}",
        "format-muted": "\uf6a9",
        "format-icons": {
            "headphone": "\uf025",
            "hands-free": "\uf025",
            "headset": "\uf025",
            "phone": "\uf095",
            "portable": "\uf095",
            "car": "\uf1b9",
            "default": [
                "\uf026",
                "\uf028"
            ]
        },
        "scroll-step": 1,
        "on-click": "pavucontrol"
    },
    "clock#eu": {
        "format": "{:%H:%M} \ud83c\udde8\ud83c\uddff",
        "timezone": "Europe/Prague"
    },
    "clock#home": {
        "format": "{:%m/%d  \ud83c\uddfa\ud83c\uddf8 %H:%M:%S}",
        "interval": 1,
        "timezone": "America/Chicago"
    },
    "tray": {
        "icon-size": 14,
        "spacing": 5
    },
    "battery": {
        "interval": 60,
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-discharging": "{power:0.1f}W {capacity}% ({time}) {icon}",
        "format-charging": "\uf0e7 {power:0.1f}W {capacity}% ({time}) {icon}",
        "format-plugged": "\uf1e6 {capacity}%",
        "format-full": "\uf1e6 {capacity}%",
        "format-time": "{H}:{m}",
        "format-icons": [
            "\uf244",
            "\uf243",
            "\uf242",
            "\uf241",
            "\uf240"
        ],
        "max-length": 40
    },
    "custom/arrow-l1": {
        "format": "\ue0b0",
        "tooltip": false
    },
    "custom/arrow-c1": {
        "format": "\ue0b2",
        "tooltip": false
    },
    "custom/arrow-c2": {
        "format": "\ue0b0",
        "tooltip": false
    },
    "custom/arrow-c3": {
        "format": "\ue0b0",
        "tooltip": false
    },
    "custom/arrow-r1-bat": {
        "format": "\ue0b2",
        "tooltip": false
    },
    "custom/arrow-r1-nobat": {
        "format": "\ue0b2",
        "tooltip": false
    },
    "custom/arrow-r2": {
        "format": "\ue0b2",
        "tooltip": false
    },
    "custom/arrow-r3": {
        "format": "\ue0b2",
        "tooltip": false
    },
    "custom/arrow-r4": {
        "format": "\ue0b2",
        "tooltip": false
    },
    "custom/arrow-r5": {
        "format": "\ue0b2",
        "tooltip": false
    },
    "custom/arrow-r6": {
        "format": "\ue0b2",
        "tooltip": false
    },
    "custom/arrow-r7": {
        "format": "\ue0b2",
        "tooltip": false
    },
    "custom/arrow-r8": {
        "format": "\ue0b2",
        "tooltip": false
    }
}
